<html>
    <%-include('./partials/head.ejs')%>
    <body>
        <%-include('./partials/nav.ejs')%>
       <h1>
           Hi
       </h1>
       <h1>
           404 ERROR Page Not found
       </h1>
    </body>
</html>