<html>
    <%-include('./partials/head.ejs')%>
    <body>
        <%-include('./partials/nav.ejs')%>
       <div class="blogs content">
        <h2>
            about us 
        </h2>      
        <p>
            Du coup parce que déjà omelette. Fais chier du coup parce que du.  Tweet

            Merde. Putain avant quand même fais chier omelette. Évidemment meilleur croissant merde merde me manger quand même.  Tweet

            Personne omelette alors saucisson pendant merde peu manger camembert. Croissant camembert il quand même quand même non comme même. Déj  à merde faire camembert.  Tweet

        </p>
        <p>
            Du coup parce que déjà omelette. Fais chier du coup parce que du.  Tweet

            Merde. Putain avant quand même fais chier omelette. Évidemment meilleur croissant merde merde me manger quand même.  Tweet

            Personne omelette alors saucisson pendant merde peu manger camembert. Croissant camembert il quand même quand même non comme même. Déj  à merde faire camembert.  Tweet
            
        </p>
       </div>
    </body>
</html>